body {
    background-color: #000000;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#frontlogo {
    text-align: center;
    margin-top: 25px;
    margin-bottom: -130px;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.4s;
    transform-origin: center;
}

#frontlogo:hover {
    transform: scale(1.3);
}

.frontstartbutton {
    text-align: center;
    margin-top: 200px;
}

.frontstartbutton button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff0000;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.4s;
}

.frontstartbutton button:hover {
    transform: scale(1.1);
}

h1 {
    font-size: 50px;
    color: rgb(252, 245, 245);
    text-align: center;
    font-weight: 700; 
    margin-top: 25px; 
    text-shadow: 2px 2px 1px white;

}

#sidepic1 {
    text-align: left;
}
#sidepic1 img {
    
    position: absolute;
    top: 0;
    left: 0;
 
}
#sidepic2 {
    text-align: right;
}
#sidepic2 img{
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
#sidepic3 {
    text-align: right;
}
#sidepic3 img{
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}
#sidepic4 {
    text-align: left;
}
#sidepic4 img{
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: right;
}
