h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: #10141b;
    text-align: center;
    font-size: 50px;
}
#snape {
    width: 504;
    height: 513;
    border:5px solid #000000;
}
.big-blue-box {
    width: 400;
    height: 500; 
    background-color: #003050;
    border: 2px solid #000000;
    border-radius: 10px;
    color: white; 
    text-align: center;
    line-height: 200px;
    font-size: 30px; 
    position: absolute;
    top: calc(100% + -480px); 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    
}
body{
    background-color: darkgray;
}
