h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

#snape {
    width: 504px;
    height: 513px;
    border: 5px solid #000000;
}

.big-blue-box {
    width: 400px;
    height: 500px;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
    color: white;
    text-align: left;
    line-height: 200px;
    font-size: 30px;
    position: absolute;
    top: calc(100% + -480px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    padding-left: 15px;
    padding-top: 15px;

    
}

body {
    background-color: rgb(37, 37, 37);
}
#snapeintro {
    margin-top: 20px; 
    font-size: 15px;
}

#snapeintro p {
    line-height: 1.5; 
}

.big-blue-box button {
    border: 2px solid #fff; 
    outline: none;
    padding: 16px 50px;
    background-color: transparent;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 0 0 5px #000000;
}
